@{
    ViewData["Title"] = "Agenda";
}
<h1>@ViewData["Title"]</h1>
<footer class="bg-light text-muted p-4">
    <div class="container text-center">
        <h5 class="mb-4">Desenvolvedores</h5>
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card border-0">
                    <div class="card-body">
                        <h6 class="card-title">Diogo Felicio</h6>
                        <p class="card-text">Desenvolvedora Back-End</p>
                        <a href="https://github.com/Diodoro42" target="_blank" class="btn btn-secondary">GitHub</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card border-0">
                    <div class="card-body">
                        <h6 class="card-title">Gabriel Felipe</h6>
                        <p class="card-text">Desenvolvedor Back-End</p>
                        <a href="https://github.com/Calof" target="_blank" class="btn btn-secondary">GitHub</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card border-0">
                    <div class="card-body">
                        <h6 class="card-title">Welly Yanne</h6>
                        <p class="card-text">Desenvolvedora Front-End</p>
                        <a href="https://github.com/WellyYanne" target="_blank" class="btn btn-secondary">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
        <p class="mt-4">&copy; 2024 - Agenda</p>
    </div>
</footer>

