@{
    ViewData["Title"] = "Escolha";
   
}

<!DOCTYPE html>
    <html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Direção</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        
    </head>
    <body>



	<div class="container text-center my-auto">

		<h1 class="display-5">Bem-vindo!</h1>

		<p class="lead">Escolha uma opção abaixo para continuar:</p>
		<div class="btn-group" role="group" aria-label="Opções de navegação">

			<a href="/Tarefa/Tarefas" class="btn btn-secondary btn-lg me-2">Tarefas</a>

          @* <a href="/Tarefa/Anotacoes" class="btn btn-secondary btn-lg me-2">Anotações</a>

            <a href="/Tarefa/Adm" class="btn btn-secondary btn-lg me-2">Adm</a> *@

		</div>
	</div>
    
    </body>
    </html>



